@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&family=Tinos&display=swap");
@media (max-width: 951px) {
  .header__button--styles {
    display: none;
  }
  .header__flex2-1--flex div,
  .header__flex2-2--flex div,
  .header__flex2-3--flex div {
    display: none;
  }
}
@media (min-width: 951px) {
  .header__threeline--style img {
    display: none;
  }
}
@media (min-width: 2189px) {
  .header__titleflex--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    top: 200px;
    position: relative;
  }
  .header__bestmeal--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
}
@media (min-width: 1017px) and (max-width: 2189px) {
  .header__titleflex--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    top: 192px;
    width: 72vw;
    position: relative;
  }
  .header__titleflex--flex .header__bestmeal--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
}
@media (max-width: 1017px) {
  .header__titleflex--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
    position: relative;
    top: 255px;
  }
  .header__titleflex--flex div,
  .header__titleflex--flex button {
    position: relative;
    top: 0px;
    left: 0px;
  }
  .header__button-vmenu--styles {
    margin-top: 10px;
  }
}
@media (max-width: 1017px) {
  .header__titleflex--flex .header__gorline-left,
  .header__titleflex--flex .header__gorline-right {
    display: none;
  }
}
@media (max-width: 974px) {
  .header__block-flexcont--flex {
    top: 401px;
  }
}
@media (min-width: 974px) {
  .header__block-flexcont--flex {
    top: 340px;
  }
}
@media (max-width: 1105px) {
  .main__ourstory-flexcont--flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 80px;
  }
}
@media (min-width: 1105px) {
  .main__ourstory-flexcont--flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (max-width: 973px) {
  .main__ourstory-flexcont--flex {
    top: 450px;
  }
}
@media (min-width: 973px) {
  .main__ourstory-flexcont--flex {
    top: 518px;
  }
}
@media (max-width: 732px) {
  .main__ourstory-leftside-title--style {
    width: 200px;
  }
}
@media (min-width: 733px) {
  .main__ourstory-leftside-title--style {
    width: 336px;
  }
}
@media (max-width: 732px) {
  .main__ourstory-leftside-text--style {
    width: 290px;
    margin-bottom: 70px;
  }
}
@media (min-width: 733px) {
  .main__ourstory-leftside-text--style {
    width: 444px;
  }
}
@media (max-width: 732px) {
  .main__ourstory-flex1-3--flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (min-width: 733px) {
  .main__ourstory-flex1-3--flex {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
@media (max-width: 732px) {
  .main__ourstory-rightside-pict1--style img {
    position: relative;
    width: 114px;
    height: 84px;
    left: 263px;
  }
  .main__ourstory-rightside-pict2--style img {
    position: relative;
    width: 125px;
    height: 154px;
    top: 0px;
    left: 19px;
  }
  .main__ourstory-rightside-pict3--style img {
    position: relative;
    width: 136px;
    height: 154px;
    top: 84px;
    left: 23px;
  }
  .main__ourstory-rightside-pict4--style {
    top: -17px;
    left: -161px;
  }
  .main__ourstory-rightside-pict4--style img {
    position: relative;
    width: 137px;
    height: 221px;
  }
}
@media (min-width: 733px) {
  .main__ourstory-rightside-pict1--style {
    left: 502px;
    top: 32px;
  }
  .main__ourstory-rightside-pict2--style {
    left: -3px;
    top: 23px;
  }
  .main__ourstory-rightside-pict3--style {
    top: 192px;
    left: 1px;
  }
  .main__ourstory-rightside-pict4--style {
    top: -24px;
    left: -362px;
  }
}
@media (max-width: 972px) {
  .main__reserv-bg--style img {
    top: 608px;
  }
}
@media (max-width: 732px) {
  .main__reserv-bg--style img {
    top: 551px;
  }
}
@media (min-width: 973px) {
  .main__reserv-bg--style img {
    top: 900px;
  }
}
@media (max-width: 1170px) {
  .main__reserv-flexcont--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    top: 594px;
    gap: 30px;
  }
  .main__meals-title--style {
    top: 761px;
  }
}
@media (min-width: 1170px) {
  .main__reserv-flexcont--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 350px;
    top: 607px;
  }
  .main__meals-title--style {
    top: 880px;
  }
}
@media (max-width: 973px) {
  .main__reserv-flexcont--flex {
    top: 300px;
  }
}
@media (max-width: 733px) {
  .main__reserv-flexcont--flex {
    top: 246px;
  }
}
@media (max-width: 701px) {
  .main__reserv-undertitle--style {
    width: 320px;
  }
  .main__reserv-title--style {
    font-size: 30px;
    line-height: 32.68px;
    width: 281px;
  }
  .main__reserv-flex1--flex {
    gap: 27px;
  }
  .main__reserv-flexcont--flex {
    top: 220px;
  }
}
@media (min-width: 702px) {
  .main__reserv-undertitle--style {
    width: 601px;
  }
  .main__reserv-title--style {
    font-size: 52px;
    line-height: 59.79px;
    width: 601px;
  }
  .main__reserv-flex1--flex {
    gap: 10px;
  }
}
@media (max-width: 972px) {
  .main__meals-title--style {
    top: 463px;
  }
}
@media (max-width: 732px) {
  .main__meals-title--style {
    top: 395px;
  }
}
@media (max-width: 700px) {
  .main__meals-title--style {
    top: 337px;
  }
}
@media (max-width: 600px) {
  .main__meals-title--style {
    width: 178px;
  }
  .main__meals-flextitle--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 1170px) {
  .main__meals-flexcont--flex {
    top: 876px;
  }
}
@media (min-width: 1170px) {
  .main__meals-flexcont--flex {
    top: 990px;
  }
}
@media (max-width: 1134px) {
  .main__meals-flex1--flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main__meals-flexcont--flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 865px;
  }
  .main__meals-gorline1-style,
  .main__meals-gorline2-style,
  .main__meals-gorline3-style {
    display: none;
  }
  .main__meals-meal1flex--flex,
  .main__meals-meal2flex--flex,
  .main__meals-meal3flex--flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 972px) {
  .main__meals-flexcont--flex {
    top: 568px;
  }
}
@media (max-width: 732px) {
  .main__meals-flexcont--flex {
    top: 496px;
  }
}
@media (max-width: 700px) {
  .main__meals-flexcont--flex {
    top: 430px;
  }
}
@media (max-width: 1134px) {
  .main__meals-pictflex--flex {
    position: relative;
    right: 93px;
  }
  .main__meals-flex2--flex {
    position: relative;
    bottom: 456px;
    gap: 90px;
    padding-left: 193px;
  }
  .main__feedback-flexcont--flex {
    top: 4729px;
  }
  .main__menu-bg--style img {
    top: 575px;
  }
  .main__menu-flexcont--flex {
    top: -289px;
  }
}
@media (min-width: 1134px) {
  .main__feedback-flexcont--flex {
    top: 4337px;
  }
  .main__menu-bg--style img {
    top: 1100px;
  }
  .main__menu-flexcont--flex {
    top: 240px;
  }
}
@media (max-width: 951px) {
  .header__logo img {
    width: 70px;
  }
  .header__threeline--style img {
    margin-top: 12px;
  }
}
@media (max-width: 890px) {
  .header__titleflex--flex {
    top: 323px;
  }
}
@media (min-width: 2189px) {
  .header__titleflex--flex {
    top: 90px;
  }
  .header__button-vmenu--styles {
    position: absolute;
    margin-top: 338px;
  }
}
@media (max-width: 688px) {
  .header__mini-title--font {
    font-size: 30px;
  }
  .header__title--font {
    font-size: 50px;
  }
  .header__under-title--font {
    font-size: 15px;
  }
}
@media (min-width: 689px) {
  .header__mini-title--font {
    font-size: 50px;
  }
  .header__title--font {
    font-size: 80px;
    line-height: 91.99px;
  }
  .header__under-title--font {
    font-size: 18px;
  }
}
@media (max-width: 973px) {
  .main__reserv-bg--style {
    top: 593px;
  }
}
@media (min-width: 973px) {
  .main__reserv-bg--style {
    top: 892px;
  }
}
@media (max-width: 732px) {
  .main__reserv-bg--style {
    top: 555px;
  }
}
@media (min-width: 1134px) {
  .main__menu-bg--style {
    top: 1098px;
  }
}
@media (max-width: 1134px) {
  .main__menu-bg--style {
    top: 559px;
  }
}
@media (max-width: 972px) {
  .main__menu-bg--style {
    top: 227px;
  }
}
@media (max-width: 732px) {
  .main__menu-bg--style {
    top: 151px;
  }
}
@media (max-width: 700px) {
  .main__menu-bg--style {
    top: 135px;
  }
}
@media (max-width: 972px) {
  .main__menu-flexcont--flex {
    top: -632px;
  }
  .main__menu-bg--style img {
    top: 238px;
  }
}
@media (max-width: 732px) {
  .main__menu-flexcont--flex {
    top: -709px;
  }
  .main__menu-bg--style img {
    top: 169px;
  }
}
@media (max-width: 700px) {
  .main__menu-flexcont--flex {
    top: -783px;
  }
  .main__menu-bg--style img {
    top: 90px;
  }
}
@media (max-width: 1116px) {
  .main__feedback-flexcont--flex {
    top: 5084px;
  }
}
@media (max-width: 1104px) {
  .main__feedback-flexcont--flex {
    top: 5562px;
  }
}
@media (max-width: 974px) {
  .main__feedback-flexcont--flex {
    top: 5236px;
  }
}
@media (max-width: 732px) {
  .main__feedback-flexcont--flex {
    top: 5450px;
  }
}
@media (max-width: 600px) {
  .main__feedback-flexcont--flex {
    top: 5410px;
  }
}
@media (max-width: 578px) {
  .main__feedback-flexcont--flex {
    top: 5496px;
  }
}
@media (max-width: 480px) {
  .main__feedback-flexcont--flex {
    top: 5416px;
  }
}
@media (max-width: 376px) {
  .main__feedback-flexcont--flex {
    top: 5180px;
  }
}
@media (max-width: 350px) {
  .main__feedback-flexcont--flex {
    top: 5255px;
  }
}
@media (max-width: 1170px) {
  .main__gallery-container--flex,
  .main__gallery-redblock1--style,
  .main__gallery-redblock2--style {
    display: none;
  }
}
@media (max-width: 1133px) {
  .main_gallery-flexcont--flex {
    top: 651px;
  }
}
@media (min-width: 1133px) {
  .main_gallery-flexcont--flex {
    top: 1170px;
  }
}
@media (max-width: 974px) {
  .main_gallery-flexcont--flex {
    top: 275px;
  }
}
@media (max-width: 732px) {
  .main_gallery-flexcont--flex {
    top: 239px;
  }
}
@media (max-width: 596px) {
  .main_gallery-flexcont--flex {
    top: 163px;
  }
}
@media (max-width: 444px) {
  .main_gallery-flexcont--flex {
    top: 339px;
  }
}
@media (max-width: 351px) {
  .main_gallery-flexcont--flex {
    top: 277px;
  }
}
@media (max-width: 1133px) {
  .main__cooks-flexcont--flex {
    top: 694px;
  }
}
@media (min-width: 1133px) {
  .main__cooks-flexcont--flex {
    top: 1200px;
  }
}
@media (max-width: 974px) {
  .main__cooks-flexcont--flex {
    top: 301px;
  }
}
@media (max-width: 596px) {
  .main__cooks-flexcont--flex {
    top: 187px;
  }
}
@media (max-width: 444px) {
  .main__cooks-flexcont--flex {
    top: 240px;
  }
}
@media (max-width: 351px) {
  .main__cooks-flexcont--flex {
    top: 300px;
  }
}
@media (max-width: 1133px) {
  .footer__copyright--style {
    top: 791px;
  }
}
@media (min-width: 1133px) {
  .footer__copyright--style {
    top: 1280px;
  }
}
@media (max-width: 974px) {
  .footer__copyright--style {
    top: 394px;
  }
}
@media (max-width: 596px) {
  .footer__copyright--style {
    top: 265px;
  }
}
@media (max-width: 444px) {
  .footer__copyright--style {
    top: 364px;
  }
}
@media (max-width: 351px) {
  .footer__copyright--style {
    top: 366px;
  }
}
@media (max-width: 1157px) {
  .main__menu-block2--style,
  .main__menu-block3--style,
  .main__menu-button2--style,
  .main__menu-button3--style,
  .main__menu-title2--style,
  .main__menu-title3--style,
  .main__menu-text2--style,
  .main__menu-text3--style,
  .main__menu-pict2--style,
  .main__menu-pict3--style,
  .main__menu-pricecircle2--style,
  .main__menu-pricecircle3--style,
  .main__menu-price2--style,
  .main__menu-price3--style {
    display: none;
  }
  .main__menu-recommended--style {
    display: none;
  }
}
@media (min-width: 1157px) {
  .main__menu-recommended--style {
    margin-right: 987px;
  }
}
@media (min-width: 2189px) {
  .header__nav--font1,
  .header__nav--font2,
  .header__nav--font3,
  .header__nav--font4 {
    font-size: 24px;
  }
  .header__cart img {
    width: 30px;
    height: 30px;
  }
  .header__vertline--styles {
    width: 72px;
    top: 10px;
  }
  .header__phone img {
    width: 33px;
    height: 33px;
  }
  .header__number {
    margin-top: 3px;
    font-size: 25px;
    margin-left: 3px;
  }
  .header__number-text p {
    width: 248px;
    font-size: 23px;
  }
  .header__flex2-3-1--flex {
    gap: 16px;
  }
  .header__button--styles {
    width: 210px;
    height: 60px;
    font-size: 20px;
    margin-top: 6px;
  }
  .header__under-title--font {
    font-size: 23px;
  }
  .header__logo img {
    width: 131px;
  }
  .header__button-vmenu--styles {
    width: 210px;
    height: 60px;
    font-size: 20px;
  }
  .header__flexblock1--flex,
  .header__flexblock2--flex,
  .header__flexblock3--flex {
    width: 450px;
    height: 421px;
  }
  .header_block1-pict--style img,
  .header_block2-pict--style img,
  .header_block3-pict--style img {
    width: 127px;
    height: 127px;
  }
  .header__block1-title--font,
  .header__block2-title--font,
  .header__block3-title--font {
    font-size: 35px;
  }
  .header__block1-text--font,
  .header__block2-text--font,
  .header__block3-text--font {
    font-size: 30px;
  }
  .main__ourstory-leftside-title--style {
    font-size: 74px;
  }
  .main__ourstory-leftside-text--style {
    font-size: 30px;
    width: 627px;
  }
  .main__ourstory-leftside-drinksnumber--font,
  .main__ourstory-leftside-foodsnumber-font,
  .main__ourstory-leftside-snacksnumber--font {
    font-size: 50px;
  }
  .main__ourstory-leftside-drinks--font,
  .main__ourstory-leftside-food--font,
  .main__ourstory-leftside-snacks--font {
    font-size: 30px;
    margin-top: 5px;
  }
  .main__ourstory-flex1-3--flex {
    position: relative;
    top: 149px;
  }
  .main__ourstory-flex1--flex {
    margin-left: 200px;
  }
  .main__ourstory-flex2--flex {
    margin-right: 200px;
    margin-top: 20px;
  }
  .main__reserv-undertitle--style {
    font-size: 33px;
  }
  .main__reserv-button--style {
    width: 265px;
    height: 95px;
    font-size: 24px;
  }
  .main__meals-meal1--style,
  .main__meals-meal2--style,
  .main__meals-meal3--style {
    font-size: 40px;
  }
  .main__meals-title--style {
    font-size: 65px;
  }
  .main__meals-prise1--style,
  .main__meals-prise2--style,
  .main__meals-prise3--style {
    font-size: 35px;
    width: 90px;
  }
  .main__menu-title--style {
    font-size: 65px;
  }
  .main__menu-block1--style,
  .main__menu-block2--style,
  .main__menu-block3--style {
    width: 409px;
    height: 541px;
  }
  .main__menu-button1--style,
  .main__menu-button2--style,
  .main__menu-button3--style {
    width: 210px;
    height: 60px;
    font-size: 20px;
  }
  .main__menu-flex2-2--flex {
    gap: 233px;
  }
  .main__menu-text1--style,
  .main__menu-text2--style,
  .main__menu-text3--style {
    font-size: 30px;
    line-height: 28px;
  }
  .main__menu-flex2-4--flex {
    gap: 215px;
    bottom: 297px;
  }
  .main__menu-flex2-5--flex {
    bottom: 629px;
    gap: 214px;
  }
  .main__menu-flex2-6--flex {
    bottom: 734px;
    gap: 327px;
  }
  .main__menu-flex2-3--flex {
    bottom: 312px;
  }
  .main__menu-title2--style {
    padding: 0px 186px;
  }
  .main__menu-title1--style,
  .main__menu-title2--style,
  .main__menu-title3--style {
    font-size: 37px;
  }
  .main__menu-flex2-3--flex {
    left: -18px;
  }
  .main__menu-title3--style {
    left: 16px;
  }
  .main__menu-flex2-7--flex {
    bottom: 804px;
    gap: 391px;
  }
  .main__menu-price1--style,
  .main__menu-price2--style,
  .main__menu-price3--style {
    font-size: 40px;
  }
  .main__menu-recommended--style {
    width: 177px;
    height: 46px;
    bottom: 1063px;
    margin-right: 1111px;
    font-size: 20px;
    padding-top: 14px;
  }
  .main__feedback-flexcont--flex {
    top: 4437px;
  }
  .main__feedback-commenttext--font {
    font-size: 40px;
    max-width: 1479px;
  }
  .main__feedback-pict--style img {
    width: 150px;
    height: 150px;
  }
  .main__feedback-user--style {
    font-size: 30px;
  }
  .main__feedback-name--style {
    font-size: 30px;
    padding-top: 5px;
  }
  .main__feedback-circle1--style,
  .main__feedback-circle2--style {
    width: 15px;
    height: 15px;
  }
  .main__feedback-circle3--style {
    width: 17px;
    height: 17px;
  }
  .main_gallery-flexcont--flex {
    top: 1302px;
  }
  .main__cooks-pict--position {
    top: 152px;
  }
  .main__cooks-title--style {
    top: 163px;
  }
  .footer__copyright--style {
    top: 1465px;
  }
  .main__gallery-title--style {
    font-size: 65px;
  }
  .main__cooks-title--style {
    font-size: 65px;
  }
}
@media (max-width: 2188px) {
  .header__nav--font1,
  .header__nav--font2,
  .header__nav--font3,
  .header__nav--font4 {
    font-size: 14px;
  }
  .header__cart img {
    width: 13px;
    height: 13px;
  }
  .header__vertline--styles {
    width: 51px;
    top: 7px;
  }
  .header__phone img {
    width: 23px;
    height: 23px;
  }
  .header__number {
    font-size: 18px;
  }
  .header__number-text p {
    font-size: 14px;
    width: 154px;
  }
  .header__flex2-3-1--flex {
    gap: 5px;
  }
  .header__button--styles {
    width: 157px;
    height: 47px;
    font-size: 14px;
  }
  .header__button-vmenu--styles {
    width: 137px;
    height: 47px;
    font-size: 14px;
  }
  .header__flexblock1--flex,
  .header__flexblock2--flex,
  .header__flexblock3--flex {
    width: 349px;
    height: 328px;
  }
  .header_block1-pict--style img,
  .header_block2-pict--style img,
  .header_block3-pict--style img {
    width: 87px;
    height: 87px;
  }
  .header__block1-title--font,
  .header__block2-title--font,
  .header__block3-title--font {
    font-size: 26px;
  }
  .header__block1-text--font,
  .header__block2-text--font,
  .header__block3-text--font {
    font-size: 26px;
  }
  .main__ourstory-leftside-title--style {
    font-size: 54px;
  }
  .main__ourstory-leftside-text--style {
    font-size: 16px;
  }
  .main__ourstory-leftside-drinksnumber--font,
  .main__ourstory-leftside-foodsnumber-font,
  .main__ourstory-leftside-snacksnumber--font {
    font-size: 40px;
  }
  .main__ourstory-leftside-drinks--font,
  .main__ourstory-leftside-food--font,
  .main__ourstory-leftside-snacks--font {
    font-size: 20px;
  }
  .main__reserv-undertitle--style {
    font-size: 24px;
  }
  .main__reserv-button--style {
    width: 157px;
    height: 47px;
    font-size: 14px;
  }
  .main__meals-meal1--style,
  .main__meals-meal2--style,
  .main__meals-meal3--style {
    font-size: 26px;
  }
  .main__meals-title--style {
    font-size: 54px;
  }
  .main__meals-prise1--style,
  .main__meals-prise2--style,
  .main__meals-prise3--style {
    font-size: 26px;
  }
  .main__menu-title--style {
    font-size: 54px;
  }
  .main__menu-block1--style,
  .main__menu-block2--style,
  .main__menu-block3--style {
    width: 350px;
    height: 510px;
  }
  .main__menu-button1--style,
  .main__menu-button2--style,
  .main__menu-button3--style {
    width: 220px;
    height: 50px;
    font-size: 16px;
  }
  .main__menu-flex2-2--flex {
    gap: 164px;
  }
  .main__menu-text1--style,
  .main__menu-text2--style,
  .main__menu-text3--style {
    font-size: 16px;
    line-height: 21.79px;
  }
  .main__menu-flex2-4--flex {
    gap: 160px;
    bottom: 242px;
  }
  .main__menu-flex2-5--flex {
    bottom: 580px;
    gap: 160px;
  }
  .main__menu-flex2-6--flex {
    bottom: 690px;
    gap: 270px;
  }
  .main__menu-flex2-3--flex {
    bottom: 256px;
  }
  .main__menu-title2--style {
    padding: 0px 201px;
  }
  .main__menu-title1--style,
  .main__menu-title2--style,
  .main__menu-title3--style {
    font-size: 26px;
  }
  .main__menu-title3--style {
    left: 15px;
  }
  .main__menu-flex2-7--flex {
    bottom: 760px;
    gap: 337px;
  }
  .main__menu-price1--style,
  .main__menu-price2--style,
  .main__menu-price3--style {
    font-size: 35px;
  }
  .main__menu-recommended--style {
    width: 124px;
    height: 36px;
    bottom: 1022px;
    font-size: 13px;
    padding: 8px;
  }
  .main__feedback-commenttext--font {
    font-size: 20px;
    line-height: 27.24px;
    max-width: 920px;
  }
  .main__feedback-user--style {
    font-size: 20px;
  }
  .main__feedback-name--style {
    font-size: 20px;
  }
  .main__feedback-circle1--style,
  .main__feedback-circle2--style {
    width: 5px;
    height: 5px;
  }
  .main__feedback-circle3--style {
    width: 7px;
    height: 7px;
  }
  .main__gallery-title--style {
    font-size: 54px;
  }
  .main__cooks-title--style {
    font-size: 56px;
  }
}
@media (min-width: 1157px) and (max-width: 2188px) {
  .main__menu-flex2-3--flex {
    right: 12px;
  }
}
@media (max-width: 426px) {
  .main__cooks-pict1--style img {
    width: 232px;
  }
  .main__cooks-pict2--style img {
    width: 232px;
  }
  .main__cooks-pict3--style img {
    width: 232px;
  }
  .main__meals-pict1--style img {
    width: 300px;
  }
}
@media (max-width: 672px) {
  .main__gallery-pict4--style img {
    width: 260px;
  }
  .main__gallery-pict6--style img {
    width: 162px;
  }
  .main__gallery-pict5--style img {
    width: 162px;
  }
  .main__gallery-pict1--style img {
    width: 260px;
  }
  .main__gallery-pict3--style img {
    width: 162px;
  }
  .main__gallery-pict2--style img {
    width: 162px;
  }
  .main__cooks-title--style {
    top: 100px;
  }
  .main__cooks-pict--position {
    top: 65px;
  }
}
@media (max-width: 351px) {
  .main__cooks-title--style {
    top: -30px;
  }
  .main__cooks-pict--position {
    top: -57px;
  }
}
@media (max-width: 376px) {
  .main__meals-pict2--style img,
  .main__meals-pict3--style img,
  .main__meals-pict4--style img {
    width: 104px;
  }
  .main__meals-flex2--flex {
    bottom: 340px;
    gap: 58px;
    padding-left: 145px;
  }
  .main__meals-meal1--style,
  .main__meals-meal2--style,
  .main__meals-meal3--style,
  .main__meals-prise1--style,
  .main__meals-prise2--style,
  .main__meals-prise3--style {
    font-size: 20px;
  }
  .main__feedback-commenttext--font {
    padding: 0px 13px;
  }
}
@media (min-width: 377px) {
  .main__meals-meal1flex--flex,
  .main__meals-meal2flex--flex,
  .main__meals-meal3flex--flex {
    gap: 12px;
  }
  .main__feedback-commenttext--font {
    padding: 0px 40px;
  }
}
@media (max-width: 379px) {
  .header__flexblock1--flex,
  .header__flexblock2--flex,
  .header__flexblock3--flex {
    width: 297px;
  }
  .header__block1-text--font {
    width: 278px;
  }
  .header__block2-text--font {
    width: 210px;
  }
  .header__block3-text--font {
    width: 278px;
  }
}
@media (min-width: 380px) {
  .header__block1-text--font {
    width: 376px;
  }
  .header__block2-text--font {
    width: 376px;
  }
  .header__block3-text--font {
    width: 376px;
  }
}
* {
  margin: 0;
  padding: 0;
}

.header__bg--pict {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  width: 100vw;
  height: 800px;
  position: absolute;
}

::-webkit-scrollbar {
  width: 0px;
}

.header__flexcont--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.header__flex1--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
}

.header__flex2--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 52px;
  gap: 30px;
}

.header__flex2-1--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__flex2-2--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  left: 10px;
}

.header__flex2-3--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  right: 15px;
}

.header__flex2-3-1--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header__nav--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.header__logo img {
  position: relative;
  background-color: transparent;
}

.header__nav--font1,
.header__nav--font2,
.header__nav--font3,
.header__nav--font4 {
  text-decoration: none;
  color: #FFFFFF;
  position: relative;
  background-color: transparent;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  line-height: 19.07px;
}

.header__cart img {
  position: relative;
  background-color: transparent;
}

.header__vertline--styles {
  position: relative;
  border-bottom: 1px solid #FFFFFF;
  height: 0px;
  rotate: -90deg;
}

.header__phone img {
  position: relative;
  background-color: transparent;
}

.header__number {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  line-height: 24.51px;
  color: #FFFFFF;
  background-color: transparent;
}

.header__number-text p {
  position: relative;
  height: 38px;
  color: #FFFFFF;
  background-color: transparent;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.header__button--styles {
  position: relative;
  background-color: #FF7400;
  border: none;
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  line-height: 19.07px;
  cursor: pointer;
}
.header__button--styles:hover {
  background-color: #cc5d00;
}

.header__threeline--style {
  position: relative;
}
.header__threeline--style img {
  width: 50px;
}

.header__mini-title--font {
  position: relative;
  background-color: transparent;
  color: #D67E35;
  font-family: "Tinos", serif;
  font-weight: 400;
  line-height: 57.5px;
  text-shadow: 2px 2px 0px black, -2px -2px 0px black;
}

.header__title--font {
  position: relative;
  color: #D67E35;
  background-color: transparent;
  font-family: "Tinos", serif;
  font-weight: 400;
  text-shadow: 2px 2px 0px black, -2px -2px 0px black;
}

.header__under-title--font {
  position: relative;
  background-color: transparent;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 24.51px;
  height: 25px;
}

.header__gorline-left {
  position: relative;
  background-color: rgb(196, 196, 196);
  width: 61px;
  height: 2px;
}

.header__gorline-right {
  position: relative;
  background-color: rgb(196, 196, 196);
  width: 61px;
  height: 2px;
}

.header__button-vmenu--styles {
  background-color: #FF7400;
  border: none;
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  line-height: 19.07px;
  cursor: pointer;
}
.header__button-vmenu--styles:hover {
  background-color: #cc5d00;
}

.header__block-flexcont--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  gap: 35px;
}

.header__flexblock1--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  position: relative;
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
}

.header__flexblock2--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  position: relative;
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
}

.header__flexblock3--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  position: relative;
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
}

.header__block1-text--font {
  font-family: "Tinos", serif;
  font-weight: 400;
  line-height: 29.9px;
  text-align: center;
  color: rgb(101, 99, 99);
  position: relative;
  height: 85px;
}

.header__block2-text--font {
  font-family: "Tinos", serif;
  font-weight: 400;
  line-height: 29.9px;
  text-align: center;
  color: rgb(101, 99, 99);
  position: relative;
  height: 85px;
}

.header__block3-text--font {
  font-family: "Tinos", serif;
  font-weight: 400;
  line-height: 29.9px;
  text-align: center;
  color: rgb(101, 99, 99);
  position: relative;
  height: 85px;
}

.header__block1-title--font {
  font-family: "Tinos", serif;
  font-weight: 400;
  line-height: 29.9px;
  color: rgb(44, 44, 44);
  position: relative;
}

.header__block2-title--font {
  font-family: "Tinos", serif;
  font-weight: 400;
  line-height: 29.9px;
  color: rgb(44, 44, 44);
  position: relative;
}

.header__block3-title--font {
  font-family: "Tinos", serif;
  font-weight: 400;
  line-height: 29.9px;
  color: rgb(44, 44, 44);
  position: relative;
}

.header__block1-title--font span,
.header__block2-title--font span,
.header__block3-title--font span {
  color: rgb(188, 144, 96);
}

.header_block1-pict--style img {
  position: relative;
  top: 10px;
}

.header_block2-pict--style img {
  position: relative;
  top: 10px;
}

.header_block3-pict--style img {
  position: relative;
  top: 10px;
}

.main__ourstory-flexcont--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 0px;
}

.main__ourstory-flex1--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50vw;
  gap: 10px;
}

.main__ourstory-flex2--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50vw;
}

.main__ourstory-flex1-3--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.main__ourstory-flex1-3-1--flex,
.main__ourstory-flex1-3-2--flex,
.main__ourstory-flex1-3-3--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__ourstory-leftside-title--style {
  position: relative;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Tinos", serif;
  font-weight: 400;
  line-height: 62.09px;
  color: rgb(0, 0, 0);
}
.main__ourstory-leftside-title--style span {
  color: rgb(214, 126, 52);
}

.main__ourstory-leftside-text--style {
  position: relative;
  height: 217px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-align: center;
  color: rgb(101, 99, 99);
}

.main__ourstory-leftside-drinksnumber--font {
  position: relative;
  width: 46px;
  height: 54px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 54.47px;
  text-align: center;
  color: rgb(188, 144, 96);
}

.main__ourstory-leftside-foodsnumber-font {
  position: relative;
  width: 69px;
  height: 54px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 54.47px;
  text-align: center;
  color: rgb(188, 144, 96);
}

.main__ourstory-leftside-snacksnumber--font {
  position: relative;
  width: 46px;
  height: 43px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 54.47px;
  text-align: center;
  color: rgb(188, 144, 96);
}

.main__ourstory-leftside-drinks--font {
  position: relative;
  height: 27px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 27.24px;
  text-align: center;
  color: rgb(0, 0, 0);
}

.main__ourstory-leftside-food--font {
  position: relative;
  height: 27px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 27.24px;
  text-align: center;
  color: rgb(0, 0, 0);
}

.main__ourstory-leftside-snacks--font {
  position: relative;
  height: 27px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 27.24px;
  text-align: center;
  color: rgb(0, 0, 0);
}

.main__ourstory-rightside-pict1--style {
  position: relative;
  z-index: -2;
}

.main__ourstory-rightside-pict2--style {
  position: relative;
  -webkit-box-shadow: 20 0 30 3 rgba(0, 0, 0, 0.5);
          box-shadow: 20 0 30 3 rgba(0, 0, 0, 0.5);
}

.main__ourstory-rightside-pict3--style {
  position: relative;
  -webkit-box-shadow: 0 4 4 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4 4 0 rgba(0, 0, 0, 0.25);
}

.main__ourstory-rightside-pict4--style {
  position: relative;
  z-index: -1;
}

.main__reserv-bg--style {
  position: relative;
  background: url(../img/bg.png) no-repeat;
  background-size: cover;
  width: 100vw;
  height: 357px;
}

.main__reserv-flex1--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__reserv-flex2--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.main__reserv-button--style {
  position: relative;
  background-color: #FF7400;
  border: none;
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  line-height: 19.07px;
  cursor: pointer;
}
.main__reserv-button--style:hover {
  background-color: #cc5d00;
}

.main__reserv-title--style {
  position: relative;
  height: 120px;
  font-family: "Tinos", serif;
  font-weight: 400;
  color: rgb(214, 126, 52);
}

.main__reserv-undertitle--style {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  line-height: 32.68px;
  color: rgb(255, 255, 255);
}

.main__meals-title--style {
  position: relative;
  text-align: center;
  font-family: "Tinos", serif;
  font-weight: 400;
  line-height: 62.09px;
  color: rgb(0, 0, 0);
}
.main__meals-title--style span {
  color: rgb(214, 126, 52);
}

.main__meals-flexcont--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.main__meals-flex1--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main__meals-flex2--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__meals-pictflex--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 20px;
}

.main__meals-meal1flex--flex,
.main__meals-meal2flex--flex,
.main__meals-meal3flex--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__meals-pict1--style {
  position: relative;
}

.main__meals-pict2--style {
  position: relative;
}

.main__meals-pict3--style {
  position: relative;
}

.main__meals-pict4--style {
  position: relative;
}

.main__meals-meal1--style {
  position: relative;
  height: 30px;
  font-family: "Tinos", serif;
  font-weight: 400;
  line-height: 29.9px;
  color: rgb(0, 0, 0);
}

.main__meals-meal2--style {
  position: relative;
  height: 30px;
  font-family: "Tinos", serif;
  font-weight: 400;
  line-height: 29.9px;
  color: rgb(0, 0, 0);
}

.main__meals-meal3--style {
  position: relative;
  height: 30px;
  font-family: "Tinos", serif;
  font-weight: 400;
  line-height: 29.9px;
  color: rgb(0, 0, 0);
}

.main__meals-gorline1-style {
  position: relative;
  width: 204px;
  border-bottom: 1px dashed rgb(0, 0, 0);
  rotate: -0.14deg;
  top: -12px;
}

.main__meals-gorline2-style {
  position: relative;
  width: 204px;
  border-bottom: 1px dashed rgb(0, 0, 0);
  rotate: -0.14deg;
  top: -12px;
}

.main__meals-gorline3-style {
  position: relative;
  width: 204px;
  border-bottom: 1px dashed rgb(0, 0, 0);
  rotate: -0.14deg;
  top: -12px;
}

.main__meals-prise1--style {
  position: relative;
  height: 30px;
  font-family: "Tinos", serif;
  font-weight: 400;
  line-height: 29.9px;
  color: rgb(0, 0, 0);
}

.main__meals-prise2--style {
  position: relative;
  height: 30px;
  font-family: "Tinos", serif;
  font-weight: 400;
  line-height: 29.9px;
  color: rgb(0, 0, 0);
}

.main__meals-prise3--style {
  position: relative;
  height: 30px;
  font-family: "Tinos", serif;
  font-weight: 400;
  line-height: 29.9px;
  color: rgb(0, 0, 0);
}

.main__menu-bg--style {
  position: relative;
  background: url(../img/bg1.png) 50% top no-repeat;
  background-size: cover;
  width: 100vw;
  height: 1036px;
  left: -1px;
}

.main__menu-flexcont--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  gap: 50px;
  width: 100vw;
  max-height: 500px;
}

.main__menu-flex1--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: 285px;
}

.main__menu-flex2--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 330px;
}

.main__menu-flex2-1--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.main__menu-flex2-2--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 5;
  bottom: 100px;
}

.main__menu-flex2-3--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 6;
}

.main__menu-flex2-4--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 7;
}

.main__menu-flex2-5--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.main__menu-flex2-6--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-left: 110px;
}

.main__menu-flex2-7--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-left: 110px;
}

.main__menu-flex2-8--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__menu-title--style {
  position: relative;
  z-index: 3;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.75);
  padding-top: 10px;
  height: 80px;
  text-align: center;
  font-family: "Tinos", serif;
  font-weight: 400;
  line-height: 62.09px;
  color: rgb(255, 255, 255);
  text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}
.main__menu-title--style span {
  color: rgb(214, 126, 52);
}

.main__menu-block1--style {
  position: relative;
  background-color: rgb(255, 255, 255);
  margin: 20px 15px;
}

.main__menu-block2--style {
  position: relative;
  background-color: rgb(255, 255, 255);
  margin: 20px 15px;
}

.main__menu-block3--style {
  position: relative;
  background-color: rgb(255, 255, 255);
  margin: 20px 15px;
}

.main__menu-button1--style {
  position: relative;
  background-color: rgb(214, 126, 52);
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  border: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  line-height: 21.79px;
  text-align: center;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.main__menu-button1--style:hover {
  background-color: #cc5d00;
}

.main__menu-button2--style {
  position: relative;
  background-color: rgb(214, 126, 52);
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  border: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  line-height: 21.79px;
  text-align: center;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.main__menu-button2--style:hover {
  background-color: #cc5d00;
}

.main__menu-button3--style {
  position: relative;
  background-color: rgb(214, 126, 52);
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  border: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  line-height: 21.79px;
  text-align: center;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.main__menu-button3--style:hover {
  background-color: #cc5d00;
}

.main__menu-title1--style {
  position: relative;
  height: 30px;
  font-family: "Tinos", serif;
  font-weight: 400;
  line-height: 29.9px;
  color: rgb(0, 0, 0);
}

.main__menu-title2--style {
  position: relative;
  height: 30px;
  font-family: "Tinos", serif;
  font-weight: 400;
  line-height: 29.9px;
  color: rgb(0, 0, 0);
}

.main__menu-title3--style {
  position: relative;
  height: 30px;
  font-family: "Tinos", serif;
  font-weight: 400;
  line-height: 29.9px;
  color: rgb(0, 0, 0);
}

.main__menu-text1--style {
  position: relative;
  width: 226px;
  height: 37px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-align: center;
  color: rgb(0, 0, 0);
}

.main__menu-text2--style {
  position: relative;
  width: 226px;
  height: 37px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-align: center;
  color: rgb(0, 0, 0);
}

.main__menu-text3--style {
  position: relative;
  width: 226px;
  height: 37px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-align: center;
  color: rgb(0, 0, 0);
}

.main__menu-recommended--style {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgb(214, 126, 52);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 17.7px;
  text-align: center;
  color: rgb(0, 0, 0);
}

.main__menu-pict1--style img {
  position: relative;
  width: 225px;
  height: 225px;
}

.main__menu-pict2--style img {
  position: relative;
  width: 225px;
  height: 225px;
}

.main__menu-pict3--style img {
  position: relative;
  width: 225px;
  height: 225px;
}

.main__menu-pricecircle1--style {
  position: relative;
  width: 100px;
  height: 100px;
  border: 7px solid rgb(255, 255, 255);
  border-radius: 50%;
  background-color: rgb(214, 126, 52);
}

.main__menu-pricecircle2--style {
  position: relative;
  width: 100px;
  height: 100px;
  border: 7px solid rgb(255, 255, 255);
  border-radius: 50%;
  background-color: rgb(214, 126, 52);
}

.main__menu-pricecircle3--style {
  position: relative;
  width: 100px;
  height: 100px;
  border: 7px solid rgb(255, 255, 255);
  border-radius: 50%;
  background-color: rgb(214, 126, 52);
}

.main__menu-price1--style {
  position: relative;
  font-family: "Cookie", cursive;
  font-weight: 400;
  line-height: 33.27px;
  color: rgb(255, 255, 255);
}

.main__menu-price2--style {
  position: relative;
  font-family: "Cookie", cursive;
  font-weight: 400;
  line-height: 33.27px;
  color: rgb(255, 255, 255);
}

.main__menu-price3--style {
  position: relative;
  font-family: "Cookie", cursive;
  font-weight: 400;
  line-height: 33.27px;
  color: rgb(255, 255, 255);
}

.main__feedback-flexcont--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  background-color: rgb(229, 229, 229);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  padding-top: 100px;
  padding-bottom: 100px;
  gap: 20px;
}

.main__feedback-comment--position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__feedback-commenttext--font {
  position: relative;
  min-width: 250px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  color: rgb(0, 0, 0);
}

.main__feedback-pict--style {
  position: relative;
  padding-top: 20px;
}

.main__feedback-user--style {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 27.24px;
  color: rgb(0, 0, 0);
}

.main__feedback-name--style {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 27.24px;
  color: rgb(0, 0, 0);
}

.main__feedback-circles--position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 3px;
}

.main__feedback-circle1--style {
  position: relative;
  background-color: rgb(196, 196, 196);
  border-radius: 50%;
}

.main__feedback-circle2--style {
  position: relative;
  background-color: rgb(196, 196, 196);
  border-radius: 50%;
}

.main__feedback-circle3--style {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid rgb(255, 116, 0);
  border-radius: 50%;
}

.main__gallery-title--style {
  position: relative;
  width: 100vw;
  text-align: center;
  font-family: "Tinos", serif;
  font-weight: 400;
  line-height: 62.09px;
  color: rgb(0, 0, 0);
}
.main__gallery-title--style span {
  color: rgb(214, 126, 52);
}

.main__gallery-container--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  width: 100vw;
  top: 120px;
}

.main__gallery-redblock1--style,
.main__gallery-redblock2--style {
  width: 30px;
  height: 100px;
  background-color: rgb(255, 0, 0);
}

.main_gallery-flexcont--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 84px;
  padding: 0px 60px;
}

.main__gallery-flexcont1--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 25px;
}

.main__gallery-flexcont2--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 25px;
}

.main__gallery-pict1--style {
  position: relative;
}

.main__gallery-pict2--style {
  position: relative;
}

.main__gallery-pict3--style {
  position: relative;
}

.main__gallery-pict4--style {
  position: relative;
}

.main__gallery-pict5--style {
  position: relative;
}

.main__gallery-pict6--style {
  position: relative;
}

.main__cooks-flexcont--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.main__cooks-title--style {
  position: relative;
  padding-top: 50px;
  width: 100vw;
  padding-top: 60px;
  text-align: center;
  font-family: "Tinos", serif;
  font-weight: 400;
  line-height: 62.09px;
  color: rgb(0, 0, 0);
}
.main__cooks-title--style span {
  color: rgb(214, 126, 52);
}

.main__cooks-pict--position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 25px;
  position: relative;
  padding-top: 100px;
}

.main__cooks-pict1--style {
  position: relative;
}

.main__cooks-pict2--style {
  position: relative;
}

.main__cooks-pict3--style {
  position: relative;
}

.footer__copyright--style {
  position: relative;
  width: 100vw;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 50px 0px;
  font-family: "Tinos", serif;
  font-size: 30px;
}