$maincolorlight: #FF7400;
$navcolor: #FFFFFF;
$commun: #FFFFFF;
$buttoncolor: #FF7400;
$buttontextcolor: #FFFFFF;
$titlecolor: #D67E35;
$undertitle: #FFFFFF;
$gorline: rgba(196, 196, 196, 1);
$headerblock: rgba(255, 255, 255, 1);
$blocktextcolor: rgba(101, 99, 99, 1);
$blocktitlecolor: rgba(44, 44, 44, 1);
$blocktitleaccent: rgba(188, 144, 96, 1);
$ourstorytitle: rgba(0, 0, 0, 1);
$ourstorytitleaccent:rgba(214, 126, 52, 1);
$ourstorytext: rgba(101, 99, 99, 1);
$ourstorynumbers: rgba(188, 144, 96, 1);
$ourstoryeat: rgba(0, 0, 0, 1);
$mainpict2shadow: rgba(0, 0, 0, 0.5);
$mainpict3shadow:rgba(0, 0, 0, 0.25);
$reservtitle: rgba(214, 126, 52, 1);
$reservundertitle: rgba(255, 255, 255, 1);
$mealstitle: rgba(0, 0, 0, 1);
$mealstitleaccent: rgba(214, 126, 52, 1);
$mealtext: rgba(0, 0, 0, 1);
$bordermeal: rgba(0, 0, 0, 1);
$menutitle: rgba(255, 255, 255, 1);
$menutitleaccent:rgba(214, 126, 52, 1);
$menutitleshadow: rgba(0, 0, 0, 0.25);
$menublockbg: rgba(255, 255, 255, 1);
$menubutton: rgba(214, 126, 52, 1);
$menubuttonshadow: rgba(0, 0, 0, 0.25);
$menubuttontext: rgba(255, 255, 255, 1);
$menublocktitle: rgba(0, 0, 0, 1);
$menublocktext:rgba(0, 0, 0, 1);
$menurecommended: rgba(214, 126, 52, 1);
$menurecomtext:rgba(0, 0, 0, 1);
$menucircle: rgba(255, 255, 255, 1);
$menubgcircle: rgba(214, 126, 52, 1);
$menuprice: rgba(255, 255, 255, 1);
$menubgtitle: rgba(0, 0, 0, 0.75);
$feedback: rgba(0, 0, 0, 1);
$feedbackuser: rgba(0, 0, 0, 1);
$feedbackname: rgba(0, 0, 0, 1);
$feedbackcircle: rgba(196, 196, 196, 1);
$feedbackcircleborder3: rgba(255, 116, 0, 1);
$feedbackbg: rgba(229, 229, 229, 1);
$gallerytitle: rgba(0, 0, 0, 1);
$gallerytitleaccent: rgba(214, 126, 52, 1);
$galleryredblock: rgba(255, 0, 0, 1);
$cookstitle: rgba(0, 0, 0, 1);
$cookstitleaccent:  rgba(214, 126, 52, 1);
$footerbg: rgba(0, 0, 0, 1);
$footerfont: rgba(255, 255, 255, 1);